.wrapper-courses {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
    .wrapper-courses-loggedin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
