.wrapper-menu {
    z-index: 2000 !important;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1.8rem;
    .wrapper-menu-non-login,
    .wrapper-menu-loggedin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-menu {
        width: 28rem;
        .list-menu {
            background: var(--gray400);
            display: flex;
            flex-direction: column;
            .menu-item {
                height: 7.2rem;
                line-height: 3.2rem;
                border-top: 1px solid rgba(255, 255, 255, 0.15);
                border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
                display: flex;
                align-items: center;
                padding-left: 3.2rem;
            }
            .login,
            .logout {
                cursor: pointer;
            }
        }
    }
}
