.App {
    background-color: var(--light);
    // background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .bodypages-app {
        min-height: 864px;
        width: var(--default-body-width);
    }
}
