.wrapper-my-record {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav-record {
    margin-top: 5.6rem;
    margin-bottom: 5.6rem;
    display: flex;
    .nav-item:nth-child(2) {
        margin-left: 4.8rem;
        margin-right: 4.8rem;
    }
    .nav-item {
        height: 28.8rem;
        width: 28.8rem;
        position: relative;
        cursor: pointer;
        .frame-img {
            border: 24px solid var(--primary300);
        }
        .frame-blur {
            background-color: rgba(0, 0, 0, 0.6);
        }
        .frame-blur,
        .frame-img {
            position: absolute;
            height: 28.8rem;
            width: 28.8rem;
            top: 0;
            left: 0;
        }
        .input-img {
            height: 28.8rem;
            width: 28.8rem;
            object-fit: cover;
            object-position: center;
        }
        .input-text {
            position: absolute;
            bottom: 13rem;
            left: 2.4rem;
            display: flex;
            flex-direction: column;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            .input-text-en {
                width: 24rem;
                height: 3rem;
                color: var(--primary300);
                font-family: var(--font-inter);
                font-size: 2.5rem;
                line-height: 3rem;
            }
            .input-text-jp {
                background: var(--primary400);
                color: var(--light);
                width: 16rem;
                height: 2.4rem;
                font-family: var(--font-inter);
                font-size: 1.4rem;
                line-height: 2.4rem;
                -ms-transform: translate(25%, 50%);
                transform: translate(25%, 50%);
            }
        }
    }
}
.table {
    background-color: var(--dark500);
    margin-bottom: 5.6rem;
    position: relative;
    .headline {
        position: absolute;
        top: 1.6rem;
        left: 2.4rem;
        display: flex;
        flex-direction: row;
        .table-name {
            display: flex;
            word-wrap: normal;
            width: 9.6rem;
            color: var(--light);
            font-family: var(--font-inter);
            font-size: 1.5rem;
            line-height: 1.8rem;
            font-weight: 400;
        }
        .table-date {
            color: var(--light);
            font-family: var(--font-inter);
            font-size: 2.2rem;
            line-height: 2.7rem;
            font-weight: 400;
        }
    }
}
.body-record {
    width: var(--default-body-width);
    height: 30.4rem;
    position: relative;
    .body-chart {
        display: flex;
    }
    .body-filter {
        position: absolute;
        bottom: 1.3rem;
        left: 2.6rem;
        .body-filter-btn {
            background: var(--light);
            color: var(--primary300);
            border-radius: 12px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            white-space: nowrap;
            width: 5.6rem;
            height: 2.4rem;
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 0.4rem;
            margin: 0 0.6rem;
            &.active {
                background: var(--primary300);
                color: var(--light);
            }
        }
    }
}
.my-exercise {
    width: var(--default-body-width);
    height: 26.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .exercise-wrap {
        margin-top: 4.4rem;
        width: 91rem;
        height: 19.2rem;
        overflow-y: scroll;
        background-color: var(--dark500);
        .exercise-container {
            display: flex;
            flex-direction: row;
            .exercise-column {
                width: 46rem;
                .activity-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0.8rem 4rem 0.2rem 0rem;
                    border-bottom: 1px solid var(--gray400);
                    .exercise-activity {
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 0.3rem;
                        .activity {
                            color: var(--light);
                            font-size: 1.5rem;
                            line-height: 2.2rem;
                            font-weight: 300;
                            letter-spacing: 0.2rem;
                            .bullet {
                                font-size: 20px;
                                margin-right: 0.8rem;
                            }
                        }
                        .kcal {
                            color: var(--primary300);
                            font-family: var(--font-inter);
                            font-size: 1.5rem;
                            line-height: 1.8rem;
                            margin-left: 2rem;
                        }
                    }
                    .time {
                        color: var(--primary300);
                        font-family: var(--font-inter);
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                    }
                }
            }
        }
    }
    .exercise-wrap::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: var(--gray400);
        display: none;
        &:hover {
            display: block;
        }
    }

    .exercise-wrap::-webkit-scrollbar {
        width: 6px;
        background-color: var(--gray400);
        border-radius: 10px;
    }

    .exercise-wrap::-webkit-scrollbar-thumb {
        background-color: var(--primary300);
        border-radius: 10px;
    }
}

.my-diary {
    .my-diary-headline {
        width: 229px;
        height: 32px;
        font-family: var(--font-inter);
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 3.2rem;
        color: var(--dark500);
        margin-left: 0.6rem;
    }
    .my-diary-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(12px + var(--default-body-width));
        .content-column {
            margin: 0 0.6rem 1.2rem 0.6rem;
            height: 23.1rem;
            width: 23.1rem;
            border: 2px solid #707070;
            padding: 1.6rem;
            .time-diary {
                height: 4.8rem;
                width: 14.7rem;
                display: flex;
                flex-direction: column;
                margin-bottom: 0.8rem;
                .time-date,
                .time-clock {
                    line-height: 2.2rem;
                    font-weight: 400;
                    font-size: 1.8rem;
                    font-family: var(--font-inter);
                }
            }
            .headline-diary,
            .content-diary {
                font-weight: 300;
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: var(--dark500);
            }
            .content-diary {
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
.see-more-diary {
    margin-top: 2.4rem;
    margin-bottom: 6.4rem;
    .see-more-btn {
        appearance: none;
        background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
        cursor: pointer;
        padding: 6px 16px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        width: 29.6rem;
        height: 5.6rem;
        color: var(--light);
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    .see-more-btn:hover {
        background-color: #2c974b;
    }
}
.scroll-my-record {
    position: absolute;
    right: -64px;
    top: 67.2rem;
    cursor: pointer;
}
.wrapper-my-record-non-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
}
